#hoverbox {
	display:none;
	position:absolute;
	z-index:1000;
	top:0px;left:0px;
	height:150%;
	width:150%;	 
	background-color:rgba(0,0,0,1)
}

#hr_sidebar {
	position:relative;
	float:left;
	top:200px;
	left:3%;
	height:300px;
	width:100px;
	background-color:black;
	bbackground-color:rgba(200,200,200,0.5)
}

#hr_sidebar .btn-group {
	position:relative;
	left:20px;
	height:50px;
	width:50px;
	margin-bottom:20px;
}

#hr_sidebar .btn-group button {
	border-radius:20px;
	background-color:#222;
}

#hr_console {
	position:relative;
	top:1%;
	left:15%;
	height:50px;
	width:70%;
	background-color:rgba(240,240,240,0.5)
}

#hr_viewer {
	position:relative;
	left:10%; 
	height:90%;
	width:80%;
	background-color:black;
	bbackground-color:rgba(230,250,100,0.5)
}

#hr_gif {
	position:absolute;
	left:0px;top:0px;
	width:90%;
}
